body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #111;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.tetle {
    margin-top: 80px;
    font-size: 60px;
    text-align: center;
}

.text {
    text-align: center;
}

p {
    font-size: 40px;
    line-height: 1.5;
}

.header,
.footer {
    padding: 20px;
    background-color: #2725b5;
}

.footer {
    margin-top: auto;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.copyright {
    padding: 20px 0;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}

.copyright__text {
    color: #fff;
}